#include "torabo_tsuki_lp.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

&trackball_listener {
    status = "okay";
    scroller {
        layers = <4>;
        input-processors = <
            &zip_xy_transform(INPUT_TRANSFORM_X_NONE)
            &zip_xy_to_scroll_mapper
        >;
    };
};
